@tailwind base;
@tailwind components;
@tailwind utilities;


.deluxe_container {
    position: relative;
}

.deluxe_details {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(128, 128, 128, 0.485);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.deluxe_container:hover .deluxe_details {
    display: flex;
}